body {
    background-color: rgba(0, 0, 0, 0.95);
}

h1 {
    font-size: 12vw;
    line-height: 12vw;
    letter-spacing: -0.04em;
}

h2 {
    font-size: 7vw;
    line-height: 12vw;
    letter-spacing: -0.04em;
}

h6 {
    margin-top: 10px;
    font-size: 1.5vw;
}

p {
    font-size: 1.5vw;
}

hr {
    margin: 60px 0 30px 0;
}

#side-menu {
    width: 300px;
    height: 100%;
    background-color: grey;
    
    position: absolute;
    right: -300px;
    display: none;
    z-index: 99;

    .col {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 110px;
    }


    a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.8);
        transition: 500ms all;

        &:hover {
            color: white;
        }
    }

    h1 {
        font-size: 50px;
        margin-bottom: 50px;
        line-height: initial;
    }

    h3 {
        font-size: 46px;
        font-weight: 400;
        margin-bottom: 20px;
        margin-left: 20px;
    }
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;

    a {
        text-decoration: none;
    }
}

#menu {
    padding: 0;

    .burger {
        top: 0;
        bottom: 0;
        align-items: center;
        margin: auto 5px;
        position: relative;
        cursor: pointer;
        z-index: 999;
    
        .burger-line--top {
            width: 20px;
            height: 2px;
            background: white;
            transition: 300ms all;
            position: relative;
        }
        
        .burger-line--center {
            width: 20px;
            height: 2px;
            background: white;
            margin: 5px 0;
            transition: 300ms all;
        }
        
        .burger-line--bottom {
            width: 20px;
            height: 2px;
            background: white;
            transition: 300ms all;
            position: relative;
        }
    }
}


#main {
    .text-block {
        margin: 50px 0 0 0;
    }
}


#projects {
    .proj-item {
        padding: 20px;
        cursor: pointer;
        transition: 2s all;
    
        &:hover {
            background-color: black;
        }

        .img-block {
            img {
                background-color: grey;
            }
        }
    }

    svg {
        width: 40px;
        height: 40px;
    }
}


